<footer>
  <% if user_signed_in? %>
    <nav class="navbar navbar-expand navbar-light bg-light fixed-bottom">
      <div class="container">
        <ul class="navbar-nav w-100 nav-justified mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link" do %>
              <i class="bi bi-house-door-fill"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to notifications_path, class: "nav-link" do %>
              <i class="bi bi-bell-fill position-relative" id="currentNotificationCount">
                <%= render "notifications/notification_count", count: current_user.notifications.unread.count %>
              </i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to user_path(current_user), class: "nav-link" do %>
              <i class="bi bi-person-fill"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  <% end %>
</footer>