<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <div class="row">
    <div class="col-md-4">
      <%= render "users/user", user: current_user %>
    </div>
    <div class="col-md-8">
      <%= render partial: "posts/post", collection: @posts %>
    </div>
  </div>
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <h2> 現在ログインしていません </h2>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
<% end %>