<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-4" id="commonModalLabel">
        <%= @emoji %> <span class="fs-6">をした</span> <%= @rc %> <span class="fs-6">人</span>
      </h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <%= render partial: "users/user_simple", collection: @users %>
    </div>
  </div>
</div>
