<p><%= @resource.email %> さん、こんにちは。</p>

<p>パスワードを変更するためのリンクがリクエストされました。以下のリンクからパスワードの変更を行うことができます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのリクエストに覚えがない場合は、このメールを無視してください。</p>
<p>パスワードは、上記のリンクにアクセスして新しいパスワードを作成するまで変更されませんので、ご安心ください。</p>
